{% extends "base.html" %}


{% block title %}
新規登録
{% endblock %}


{% block content %}

<h2>新しい人を登録</h2>

{% if error %}
    <p>{{ error }}</p>
{% endif %}

<form method="POST">

    <p>
        名前：
        <input type="text" name="name" value="{{ name }}">
    </p>

    <p>
        年齢：
        <input type="text" name="age" value="{{ age }}">
    </p>

    <p>
        趣味：
        <input type="text" name="hobby" value="{{ hobby }}">
    </p>

    <button type="submit">登録</button>

</form>

{% endblock %}