{% extends "base.html" %}


{% block title %}
住所録一覧
{% endblock %}


{% block content %}

<h2>住所録一覧</h2>


{% with messages = get_flashed_messages() %}

    {% if messages %}

        {% for message in messages %}

            <p>{{ message }}</p>

        {% endfor %}

    {% endif %}

{% endwith %}


<table>

    <tr>
        <th>名前</th>
        <th>年齢</th>
        <th>趣味</th>
        <th>操作</th>
    </tr>


    {% for person in people %}

    <tr>

        <td>{{ person["name"] }}</td>

        <td>{{ person["age"] }}</td>

        <td>{{ person["hobby"] }}</td>

        <td>

            <a href="{{ url_for('edit_person', name=person['name']) }}">
                編集
            </a>

            <a href="{{ url_for('delete_person', name=person['name']) }}">
                削除
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}